.logo {
    width: 70px;
    height: auto;
  }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
  }
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size: 20px;
}
.underline {
  display: block;
  margin: -20px auto 0;
  width: 80px; /* Adjust size as needed */
  height: auto;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-item p {
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
}

/* When active, show the underline with a smooth animation */
.nav-item .underline {
  opacity: 1;
  transform: scaleX(1);
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,  #fa7e1e, #d62976, #962fbf, #4f5bd5);
    font-size: 22px;
    cursor: pointer;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    transition:0.5s ease-in-out;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  gap:5px;
  cursor: pointer;
}
.nav-menu li img{
  display: flex;
  margin: auto;
}
.anchor-link{
  text-decoration: none;
  color: #fff;
}
.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  /* Show hamburger icon */
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
  }
  /* Close button inside menu */
  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  /* Mobile Navigation */
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100vh;
    z-index: 2;
    transition: right 0.5s ease-in-out;
    padding-top: 50px;
  }
  /* Show menu when 'open' class is added */
  .nav-menu.open {
    right: 0;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap:20px;
  }
}
